@import "theme";

:host {
  margin-left: 10px;
}
button {
  color: $light-color;
  border: none;
  padding: 0.5rem 1rem;
}
:host-context(app-template-a) button {
  background: $color1;
}
:host-context(app-template-b) button {
  background: $color2;
}
